.loader {
  border: 16px solid #f3f3f3;
  border-radius: 50%;
  border-top: 16px solid #3498db;
  width: 50px;
  aspect-ratio: 1 / 1;
  margin: auto;

  
  padding: 10px;
  
  -webkit-animation: spin 2s linear infinite; /* Safari */
  animation: spin 2s linear infinite;
}

/* Safari */
@-webkit-keyframes spin {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}




input[type=text] {
    border: 2px solid;
    border-radius: 4px;
    margin: 5px;
    border-color: rgb(84, 91, 94);
    background-color: #181a1b;
  }

button{
    background-color: #3498db; 
    border: none;
    color: white;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 5px;
    margin: 4px;
}
button:hover {
    background-color: #246a99; 
  }
.Delete{
    background-color: rgb(231, 1, 1);
   
}
.Delete:hover{
    background-color: rgb(167, 0, 0);
}
li{
    text-decoration: none;
    
}
.footer {
  clear: both;
  position: relative;
  height: 50px;
  background-color: rgb(96, 104, 108);
  text-align: center;
}
.topnav {
  overflow: hidden;
  background-color: rgb(96, 104, 108);
  margin-bottom: 25px;
}

.topnav span {
  float: left;
  text-align: center;
  padding: 14px 17px;
  text-decoration: none;
  font-size: 17px;
}

/* .topnav a:hover {
  background-color: #ddd;
  color: black;
} */

.topnav span.active {
  background-color: #3498db;
}
.grid-container {
  display: grid;
  grid-template-columns: 200px 60px 60px;
  padding: 5px;
  justify-content: center;
  column-gap: 25px;
}

.grid-item {
  border: 1px solid;
  padding: 10px;
  font-size: 20px;
  text-align: center;
  border-color: rgb(84, 91, 94);
}

.grid-container-app {
  display: grid;
  grid-template-columns: 500px 500px;
  padding: 5px;
  justify-content: center;
  column-gap: 25px;
  margin-bottom: 25px;
}

.grid-container-genre {
  display: grid;
  grid-template-columns: 200px 60px;
  padding: 5px;
  justify-content: center;
  column-gap: 25px;
}

.grid-item-genre {
  border: 1px solid;
  padding: 10px;
  font-size: 20px;
  text-align: center;
  border-color: rgb(84, 91, 94);
}
h3{
  font-size: 50px;
}
label, span, h2, h1, h3,p{
  color:#f2f2f2;
}